@use "@/styles/abstracts/index" as *;

@mixin colorFontAndIcon($color) {
  color: $color;
  svg {
    path {
      fill: $color;
    }
  }
}

.DialogOverlay {
  background-color: $black;
  opacity: 0.3;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.DialogContent {
  background-color: var(--foreground);
  color: $mediumGrey;
  border-radius: 6px;
  box-shadow: -3px 7px 16px -9px transparentColor(0.2, $mainPurple),
    1px 1px 6px -1px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 19%;
  left: 50%;
  transform: translate(-50%, -19%);
  width: 80vw;
  max-width: 450px;
  max-height: 85vh;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &:focus {
    outline: none;
  }

  .DialogTitle {
    padding-top: 20px;
    padding-bottom: 18px;
    padding-left: 25px;
    margin: 0;
    text-transform: uppercase;
    @include ts-heading-s;
  }

  .BoardsList {
    padding-bottom: 20px;

    .BoardIcon {
      flex-shrink: 0;
    }

    .CreateNewBoard {
      align-items: center;
      display: flex;
      gap: 10px;
      margin-right: 25px;
      padding-left: 25px;
      @include colorFontAndIcon($mainPurple);

      &:hover {
        @include colorFontAndIcon($mainPurpleHover);
      }
    }

    .ActiveBoard {
      @include colorFontAndIcon($white);
      background-color: $mainPurple;
    }

    .BoardItem {
      display: flex;
      gap: 10px;
      align-items: center;
      cursor: pointer;
      border-top-right-radius: 999px;
      border-bottom-right-radius: 999px;
      height: 48px;
      margin-right: 25px;
      padding-left: 25px;

      &:hover:not(.CreateNewBoard, .ActiveBoard) {
        @include colorFontAndIcon(var(--color));
      }
    }
  }

  .ThemeSwitchWrapper {
    padding-inline: 25px;
    padding-bottom: 20px;
  }
}

.BoardTitle {
  max-width: 150px;
  min-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.CurrentBoard {
  display: flex;
  align-items: center;
  cursor: pointer;

  .ChevronIcon {
    flex-shrink: 0;
    margin-left: $size-200;
    height: 13px;
    width: 13px;
  }
}

@media (min-width: $screen-xsm) {
  .BoardTitle {
    max-width: 300px;
  }
}
