@use "@/styles/abstracts/index" as *;

.Header {
  position: sticky;
  top: 0;

  background-color: var(--foreground);
  min-height: 64px;
  min-width: 100%;
  display: flex;
  align-items: center;

  .Wrapper {
    align-items: center;
    display: flex;
    width: $wrap;
    margin-inline: auto;
    justify-content: space-between;

    .Start,
    .End {
      gap: $size-400;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .End.Disabled {
      cursor: default;
      opacity: 0.5;
    }
  }
}
