@use "../abstracts/index" as *;

.Logo {
  display: flex;
  min-width: 25px;
}

.LogoDesktop {
  display: none;
  svg {
    path {
      fill: red;
    }
  }
}

@media (min-width: 769px) {
  .Logo {
    display: none;
  }

  .LogoDesktop {
    display: inline;
  }
}
