$black: rgb(0, 1, 18);
$veryDarkGreyDarkBg: rgb(32, 33, 44);
$darkGrey: rgb(43, 44, 55);
$linesDark: rgb(62, 63, 78);
$mediumGrey: rgb(130, 143, 163);
$mediumGreyHover: #a4b1c4;
$linesLight: rgb(228, 235, 250);
$lightGreyLightBg: rgb(244, 247, 253);
$white: rgb(255, 255, 255);
$mainPurple: rgb(99, 95, 199);
$mainPurpleHover: rgb(168, 164, 255);
$red: rgb(234, 85, 85);
$redHover: rgb(255, 152, 152);
$secondaryHover: rgb(216, 215, 241);
$greyText: rgb(144, 144, 150);
