$fw-regular: 300;
$fw-bold: 500;

$fs-300: 0.688rem;
$fs-400: 0.8125rem;
$fs-500: 0.9375rem;
$fs-600: 1rem;
$fs-700: 1.125rem;
$fs-800: 1.5rem;
$fs-900: 2rem;

$fs-body: $fs-500;
$fs-body-sm: $fs-400;
$fs-heading-l: $fs-900;
$fs-heading-m: $fs-800;
$fs-heading-s: $fs-800;
$fs-heading-xs: $fs-700;
$fs-heading-xxs: $fs-600;
