@use "./reset" as *;
@use "./abstracts/colors" as *;
@use "./abstracts/fonts" as *;

:root {
  --foreground: #{$white};
  --background: #{$lightGreyLightBg};
  --color: #{$black};
  --lines: #{$linesLight};
  --gradient: linear-gradient(
    180deg,
    #e9effa 0%,
    rgba(233, 239, 250, 0.5) 100%
  );
  --gradientHover: linear-gradient(
    180deg,
    #e9effa 0%,
    rgba(233, 239, 250, 1) 100%
  );
}

.dark {
  --foreground: #{$darkGrey};
  --background: #{$veryDarkGreyDarkBg};
  --color: #{$white};
  --lines: #{$linesDark};
  --gradient: linear-gradient(
    180deg,
    rgba(43, 44, 55, 0.25) 0%,
    rgba(43, 44, 55, 0.13) 100%
  );
  --gradientHover: linear-gradient(
    180deg,
    rgba(43, 44, 55, 0.5) 0%,
    rgba(43, 44, 55, 0.3) 100%
  );
}

body {
  background-color: var(--background);
  color: var(--color);

  svg {
    min-width: 5px;
  }
}

.Wrapper {
  display: flex;
}

.AppContainer {
  width: 100%;
  overflow: hidden;
}

h1 {
  @include ts-heading-xl;
}

h2 {
  @include ts-heading-l;
}

h3 {
  @include ts-heading-m;
}

h4 {
  @include ts-heading-s;
}

button {
  cursor: pointer;
}
