@use "../../abstracts/index" as *;

.Button {
  box-sizing: border-box;
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  line-height: 1;
  border-radius: 9999px;
  padding: 1em 6em;
  justify-content: center;
  background-color: $mediumGrey;
  color: $white;
  margin: 10px 0px;
  font-weight: $fw-bold;
}

.Primary {
  background-color: $mainPurple;
  color: $white;

  &:hover,
  &:focus-visible {
    background-color: $mainPurpleHover;
  }
}

.Secondary {
  background-color: $white;
  color: $mainPurple;
  &:hover,
  &:focus-visible {
    background-color: $secondaryHover;
  }
}

.Destructive {
  background-color: $red;
  color: $white;
  &:hover,
  &:focus-visible {
    background-color: $redHover;
  }
}
