@use "../../abstracts/index" as *;

.ThemeSwitch {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-inline: auto;
  width: 100%;
  border-radius: 7px;
  background-color: var(--background);
  height: 48px;

  .IconDark {
    height: 15px;
    width: 15px;
  }
  .IconLight {
    height: 18.2px;
    width: 18.2px;
  }
}

.SwitchRoot {
  all: unset;
  cursor: pointer;
  width: 40px;
  height: 20px;
  background-color: $mainPurple;
  border-radius: 9999px;
  position: relative;
  margin-inline: 1rem;
}

.SwitchThumb {
  cursor: pointer;
  display: block;
  width: 14px;
  height: 14px;
  background-color: $white;
  border-radius: 9999px;
  transition: transform 100ms;
  transform: translateX(4px);
  will-change: transform;
}
.SwitchThumb[data-state="checked"] {
  transform: translateX(23px);
}
