@use "./reset" as *;
@use "./abstracts/colors" as *;

:root {
  --background: #{$lightGreyLightBg};
  --color: #{$black};
}

.dark {
  --background: #{$veryDarkGreyDarkBg};
  --color: #{$white};
}

body {
  background-color: var(--background);
  color: var(--color);
}
